<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Buscar peliculas</title>
	</head>
	<body ng-app="prueba">
		<hr />
		<div class="container">
			<div ng-model="vm.nombre" >
				<form name="/movie">
					<h3>Ingrese el personaje para buscar sus peliculas:</h3>
					<input type="text" placeholder="Nombre del personaje" name="Protagonist" required>
					<br/>
					<br/>
					<input type="submit" value="Buscar">
				</form>
			</div>
		</div>




	</body>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>


	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="js/app/app.js"></script>
	<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
	<link rel="stylesheet" href="css/app/app.css" />
</html>