<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Buscar peliculas</title>
	</head>
	<body ng-app="prueba">
		<hr />
		<div class="container">
			<div ng-model="vm.nombre" ng-change="vm.buscaPelicula()">
				<form name="/movie">
					<h3>Ingrese el personaje para buscar sus peliculas:</h3>
					<input type="text" placeholder="Nombre del personaje" name="nombre" ng-model="vm.nombre" required>
					<br/>
					<br/>
					<input type="submit" value="Buscar">
				</form>
			</div>
		</div>






		<div ng-app="apiApp" ng-controller="apiAppCtrl as vm">
			<h1>Pruebo Ajax</h1>

			<div ng-model="vm.nombre" ng-change="vm.buscaPelicula()">
				<form name="buscarPeliculas">

					<input type="text" placeholder="Nombre del personaje" name="nombre" ng-model="vm.nombre" required>
					<br/>
					<br/>
					<input type="submit" value="Buscar">

				</form>
			</div>

			<p>
				Selecciona:
				<select ng-model="vm.url" ng-change="vm.buscarPelicula()">
					<option value="http://restcountries.eu/rest/v1/region/africa">Africa</option>
					<option value="http://restcountries.eu/rest/v1/region/europe">Europa</option>
					<option value="http://restcountries.eu/rest/v1/region/americas">America</option>
				</select>
			</p>
			<ul>
				<li ng-repeat="movie in vm.movies">Title: <span>{{peli.Title}}</span>, Year: {{peli.Year}}</li>
			</ul>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
		<script>

       function buscarPelicula(){

            $http.post(vm.data).success(function(respuesta){
                //console.log("res:", respuesta);
                vm.movies = respuesta;
            });


    </script>
	</body>
	<script src="js/lib/angular.min.js"></script>
	<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
	<script src="js/app/app.js"></script>
	<link rel="stylesheet" href="css/lib/bootstrap.min.css" />
	<link rel="stylesheet" href="css/app/app.css" />
</html>